@charset "utf-8";/* margin and padding */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,img,form,applet,fieldset,legend,button,input,textarea,th,table,tr,td{margin:0;padding:0;border:none;}

/* bady */
body{font-family:"微软雅黑";font-size:12px;color:#333;width:100%;height:100%;position:relative;background:url("../images/desk.jpg") no-repeat top left,#2b3d51;min-width: 550px;min-height: 530px;}
body,div,fieldset,form,h1,h2,h3,h4,h5,h6,html,p{-webkit-text-size-adjust:none}
input::-ms-clear{display:none;}/*清楚文本框X*/
html{height:100%;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
input,select,textarea{outline:none;cursor:pointer;}

/* img */
img{padding:0;margin:0;vertical-align:top;border:none}
i{font-style:normal;}

/* float */
.fl{float:left!important;}
.fr{float:right!important;}
.auto{margin:0 auto;}
.block{display:block!important;}
.none{display:none;}
.red{color:#ea4848!important;}
.blue{color:#0034fa!important;}
.mins{height:0px!important;}

/* div */
li,ul{list-style:none;outside:none;}
.clear{clear:both;height:0;width:100%;}
a,b,i,span,input,select{-webkit-transition:all 0.5s;-ms-transition:all 0.5s;font-family:"微软雅黑";}

/* font */
a{color:#333;text-decoration:none;-webkit-transition:all 0.5s;}
a:hover,a:active,a:focus{text-decoration:none;}

.win-bg{width:600px;height:218px;position:fixed;top:50%;left:50%;margin:-109px 0 0 -300px;}
.qq-exe{width:60px;height:90px;float:left;position: relative;left: 4.5%;top:22%;}
.qq-exe img{width:50px;height:50px;float:left;cursor:pointer;}
.qq-exe input{float:left;text-align:left;height:16px;color:#fff;width:60px;margin:5px 0;background:none;}
/*弹性布局*/
.w{height:98%;display: flex;justify-content:center;align-items: center;}

.qq-chat{width:440px;height:516px;background:#fbeede url(../images/box-bg.jpg) right top no-repeat;box-shadow:0 0 5px #666;border-radius:4px;overflow:hidden;display:block;-webkit-transition:all 0.5s;position: relative}
.qq-chat-win{position:absolute;width:120px;height:27px;right:0px;top:0px;}
.qq-chat-win li{width:30px;height:27px;float:left;cursor:pointer;background-image:url(../images/chat/win.png);-webkit-transition:all 0.5s;}
.qq-chat-win li:hover{background-image:url(../images/chat/wins.png);background-color:#3a95de;}
.qq-chat-win li:nth-child(1){background-position:left center;}
.qq-chat-win li:nth-child(2){background-position:-30px center;}
.qq-chat-win li:nth-child(3){background-position:-60px center;}
.qq-chat-win li:nth-child(4){background-position:-90px center;}
.qq-chat-win li:nth-child(4):hover{background-color:#ea4848!important;}
.qq-chat-top{height:83px;width:100%;float:left;border-bottom:1px solid rgba(180,180,180,.5);}
.qq-chat-tops{width:100%;float:left;height:42px;margin:4px 0;}
.qq-chat-t-head{width:40px;height:40px;border:1px solid #fff;border-radius:3px;margin:0 10px;float:left;overflow:hidden;box-shadow:0 0 3px #999;}
.qq-chat-t-head img{width:100%;height:auto;}
.qq-chat-t-name{width:260px;height:24px;line-height:24px;font-size:18px;float:left;}
.qq-chat-t-shuo{width:260px;height:18px;line-height:18px;font-size:10px;text-shadow:0 0 2px #fff;float:left;}
.qq-chat-menu{width:100%;float:left;height:32px;}
.qq-chat-menu li{float:left;height:26px;margin:2px 5px;}
.qq-chat-menu li:hover{box-shadow:0 0 3px #666;}
.qq-chat-menu span{width:26px;height:26px;float:left;}
.qq-chat-menu img{width:26px;height:26px;}
.qq-chat-menu i{width:8px;height:26px;margin:0px 3px 0px 1px;float:left;background:url(../images/chat/icon-00.png) left center no-repeat;}
.qq-chat-bot{height:426px;width:100%;float:left;background:rgba(255,255,255,.2);}
.qq-chat-txt{float:left;width:100%;color:#008040;height:290px;overflow-y:scroll;line-height:20px;scrollbar-base-color:#fbeede;scrollbar-track-color:#fbeede;}
.qq-chat-txt ul{padding:10px 0;float:left;width:100%;}
.qq-chat-txt li{margin:3px 0;float:left;width:100%;}
.qq-chat-my span,.qq-chat-you span{float:left;margin:0 10px;}
.qq-chat-ner{color:#666;width:400px;margin:0 20px;}
.qq-chat-ner img{max-width:100%;max-heiht:260px;width:auto;height:auto;}
.qq-chat-text{float:left;width:100%;height:165px;border-top:1px solid rgba(180,180,180,.5);}
.qq-chat-text ul{height:28px;float:left;width:100%;}
.qq-chat-text li{float:left;margin:3px 0 3px 5px;height:20px;border:1px solid rgba(0,0,0,0);-webkit-transition:all 0.5s;border-radius:2px;}
.qq-chat-text li:hover{border:1px solid #ccc;}
.qq-chat-text li span{width:20px;height:20px;float:left;}
.qq-chat-text li p{float:left;padding:0 3px;line-height:20px;cursor:context-menu;}
.qq-chat-text li i{background:url(../images/chat/icon-00.png) no-repeat center center;width:8px;height:20px;float:left;margin:0 2px;}
.qq-chat-text textarea{width:420px;height:69px;max-width:420px;max-height:69px;float:left;margin:0 10px;background:#FBECE7;line-height:20px;color:#999;resize: none;font-size: 14px;}
.qq-chat-but span{padding:0 14px;line-height:24px;height:24px;float:right;margin:7px 4px 7px 0;background:#ea4848;border-radius:4px;color:#fff;cursor:pointer;}
.qq-chat-but span:nth-child(1){padding-right:34px;background:#ea4848 url(../images/chat/fa.png) 60px center no-repeat;}

.content {
    height: 1090px;
    position: relative;
    overflow: hidden;
    padding-left: 15px;
    /*background-image: linear-gradient(135deg, skyblue, deepskyblue);*/
}
#userName{
    background:#EEECE1;
}

#emojiWrapper {
    display: none;
    width: 500px;
    bottom: 177px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
}
#emojiWrapper img:hover {
    background-color: blue;
}
.emoji{
    display: inline;
}
#sendImage {
    position: absolute;
    width: 30px;
    top:0;
    left: 0;
    opacity: 0;
    overflow: hidden;
}

#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
    z-index: 1;
}
#loginWrapper > p {
    padding-bottom: 10px;
    font-size: 16px;
}
/* 聊天图片 */
#historyMsg img {
    max-width: 99%;
}